
streamlit
pandas
numpy
matplotlib
seaborn
scipy
chardet
openpyxl
xlsxwriter
sdv
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
copulas
rdt
tqdm
scikit-learn
faker
